<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Legendary.Equipment</title>
    <meta name="author" content="Jason Colyer">
    <meta name="keywords" content="dungeons,dragons,legendary,equipment">
    <meta name="description" content="A Dungeons & Dragons App">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <%= render '/layouts/menu' %>
   <%= tag.div({class: 'container'}) do %>
     <%= tag.div({class: 'row'}) do %>
       <%= tag.div({class: 'col-sm-12'}) do %>
         <%= tag.p alert, {class: 'alert text-center'} %>
         <%= yield %>
       <% end %>
     <% end %>
   <% end %>
   <%= render '/layouts/footer' %>
  </body>
</html>

